version: "0.1"

report:
  path: "/home/alexis/floe/example/report"

entities:
  - name: "customer"
    source:
      format: "csv"
      path: "/home/alexis/floe/example/in/customer"
      options:
        header: true
        separator: ","
        null_values: ["", "NULL", "null"]
      cast_mode: "coerce"

    sink:
      accepted:
        format: "parquet"
        path: "/home/alexis/floe/example/out/accepted/customer/"
      rejected:
        format: "csv"
        path: "/home/alexis/floe/example/out/rejected/customer/"
      archive:
        path: "/home/alexis/floe/example/out/accepted/customer/archived"

    policy:
      severity: "reject"
    schema:
      columns:
        - name: "customer_id"
          type: "string"
          nullable: false
          unique: true
        - name: "created_at"
          type: "datetime"
          nullable: true
          unique: false
