/target
**/*.rs.bk

# OS
.DS_Store
Thumbs.db
.cargo/
.venv/
__pycache__/
.pytest_cache/
*.pyc

# Editors
.idea/
.vscode/
*.swp
*.swo

# Test ouput files
example/out/*
example/report/*
!example/report/run_2026-01-28T15-27-38.722531254Z/
!example/report/run_2026-01-28T15-27-38.722531254Z/**

# Bench outputs

# Cloud testing creds
aws/
gcp/
adls/

# Dagster
orchestrators/dagster-floe/.tmp_*/
orchestrators/dagster-floe/.dg/
orchestrators/dagster-floe/.venv/
orchestrators/dagster-floe/src/*.egg-info/
