/target
**/*.rs.bk

# OS
.DS_Store
Thumbs.db
.cargo/
.venv/

# Editors
.idea/
.vscode/
*.swp
*.swo

# Test ouput files
example/out/*
example/report/*
!example/report/run_2026-01-28T15-27-38.722531254Z/
!example/report/run_2026-01-28T15-27-38.722531254Z/**

# Bench outputs
bench/data/
bench/generated/
bench/out/
bench/results/report/
bench/config/bench_*.yml
!bench/config/bench.yml
bench/scripts/__pycache__/
bench/.venv

# Cloud testing creds
aws/
gcp/
adls/

# Dagster
floe-dagster/.tmp_*/
floe-dagster/.dg
floe-dagster/.venv/
