/target
Cargo.lock
**/*.rs.bk

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Test ouput files
example/out/*
example/report/*
!example/report/run_2026-01-19T10-23-45Z/
!example/report/run_2026-01-19T10-23-45Z/**
